html {
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #f38181;
    border-radius: 5px;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #e5e5e5;
    margin: 40px 0;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../img/images/intro_01.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.intro__subtitle {
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-size: 64px;
    font-weight: lighter;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
    user-select: none;
}

.intro__title {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding-top: 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
    margin: 0 20px;
    position: relative;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    background-color: #fce38a;
    opacity: 0;
    transition: opacity .2s linear;
}

.nav__link:hover:after,
.nav__link.active::after {
    display: block;
    opacity: 1;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link.active {
    color: #fce38a;
}

.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 3px solid #fff;
    transition: color .2s linear, background .2s linear;
    font-weight: bold;
    margin: 20px 0 80px;
}

.btn:hover {
    color: #333;
    background-color: #fff;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slider__item {
    position: relative;
    width: 23%;
    font-size: 18px;
    color: #fff;
    padding: 20px 0;
    border-top: 3px solid #fff;
    opacity: .6;
    user-select: none;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block;
    background-color: #f38181;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
}

.slider__item__num {
    font-size: 24px;
    font-weight: bold;
}

/* Section */

.section {
    padding: 80px 0;
}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    display: block;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
}

.section__subtitle {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.section__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.section__title::after {
    content: "";
    display: block;
    background-color: #f38181;
    width: 70px;
    height: 3px;
    margin: 30px auto;
}

.section__text {
    display: block;
    margin: 40px auto 0;
    text-align: center;
    width: 100%;
}

/* Card */

.card {
    display: flex;
    justify-content: space-around;
    margin: 80px auto 0;
}

.card__item {
    width: 380px;
}

.card__item:hover .card__img img {
    opacity: .1;
}

.card__item:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner {
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #95e1d3;
    cursor: pointer;
}

.card__img img {
    display: block;
    transition: opacity .2s linear;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.card__name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4f4f4f;
    margin-bottom: 5px;
}

.card__prof {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: italic;
    padding-left: 150px;
    font-size: 15px;
    color: #999999;
}

.card__text {
    position: absolute;
    width: 100%;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    text-align: center;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
    text-transform: uppercase;
}

.card__item:hover .card__text {
    opacity: 1;
}

/* Statistics */

.statistics {
    background-color: #95e1d3;
    width: 100%;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 70px 25px;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat_count {
    font-size: 72px;
    font-weight: bold;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* Services */

.services {
    display: flex;
}

.services__item {
    position: relative;
    flex: 1 1 0;
    padding-left: 70px;
}

.services__icon {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1;
}

.services__title {
    font-weight: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 5px;
}

.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}

/* Devices */

.section--devices {
    background: url("../img/images/design/design-background.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 0;
}

.devices {
    display: block;
    width: 100%;
    height: 600px;
    margin: 0 150px;
    position: relative;
}

.devices__item {
    margin: 0 170px;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 222px;
    z-index: 1;
}

/* wedo */

.wedo {
    display: flex;
    justify-content: center;
}

.wedo__item {
    flex: 1 1 0;
}

.accordion {}

.accordion__item {
    position: relative;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px 15px 55px;
    cursor: pointer;
}

.accordion__item.active .accordion__header::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    rotate: -45deg;
}

.accordion__item .accordion__header::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 30%;
    right: 20px;
    rotate: 135deg;
}

.accordion__icon {
    position: absolute;
    top: 11px;
    left: 11px;
    margin: 0;
}

.accordion__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    padding: 0;
}

.accordion__content {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #999999;
    font-style: italic;
    padding: 0 15px;
}

/* Joe Doe text */

.jondoe {
    position: relative;
}

.jondoe__btn {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.jondoe__btn::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.jondoe__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.jondoe__btn--next {
    right: 0;
    transform: rotate(135deg);
}

.jondoe__item {
    padding: 0 110px;
    position: relative;
}

.jondoe__img {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate3d(0, -50%, 0);
}

.jondoe__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #999999;
    font-style: italic;
    padding-left: 250px;
}

.jondoe__textname {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 100;
    color: #333;
    font-style: italic;
    padding-left: 250px;
}

.jondoe__textname::before {
    content: "";
    display: inline-block;
    background-color: #f38181;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
}

/* Team */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    color: #f38181;
    background-color: #fce38a;
    border: 1px solid #f38181;
    font-size: 30px;
    line-height: 1;
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
}

.card__info {
    display: block;
    text-align: center;
    padding: 30px 0;
}

/* Sponsors */

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Works */

.works {
    display: flex;
    justify-content: center;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    display: block;
    transition: opacity .2s linear;
    max-width: 100%;
    height: auto;
}

.works__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity .2s linear;
    user-select: none;
}

.works__info::after {}

.works__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.works__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Clients */

.section--clients {
    background: url("../img/images/clients/bg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 70px;
}

.clients {
    display: flex;
    margin-bottom: 70px;
}

.clients__item {
    position: relative;
    flex: 1 1 0;
}

.clients__item:last-child {
    margin-left: 200px;
}

.clients__icon {
    position: absolute;
}

.card__name--clients {
    padding-left: 150px;
}

.clients__text::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #f38181;
    width: 70px;
    height: 3px;
    top: 65px;
}

.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    padding-left: 150px;
    margin-top: 40px;
}

/* Stories */

.stories {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.stories__item {
    position: relative;
    width: 430px;
}

.stories__img {
    display: block;
    width: 100%;
}

.stories__date {
    position: absolute;
    top: 43%;
    background-color: #95e1d3;
    left: -15px;
    padding: 15px 15px;
}

.stories__number {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    line-height: 1;
}

.stories__month {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    line-height: 1;
}

.stories__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

.stories__text {
    color: #999;
    margin-top: 10px;
}

.stories__info {
    border-top: 1px solid #bebebe;
    margin-top: 15px;
    padding-top: 15px;
}

.stories__symb {
    font-style: italic;
    color: #999;
}

.stories__symb:last-child {
    margin-left: 20px;
}

.stories__symb i {
    margin-right: 2px;
    color: #95e1d3;
}

/* Map */

.section--map {
    background: url("../img/images/map/bg.jpg") center no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: background .2s linear;
}

.section--map:hover {
    background: url("../img/images/map/bgNoOpacity.jpg") center no-repeat;
    background-size: cover;
    opacity: .9;
}

.section--map:hover .map__subtitle {
    color: #fff;
}

.location {
    text-align: center;
    font-size: 24px;
    color: #f38181;
}

.map__subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f38181;
    text-transform: uppercase;
    transition: color .2s linear;
    user-select: none;
}

.map__title {
    content: "";
    display: block;
    background-color: #f38181;
    width: 70px;
    height: 3px;
    margin: 15px auto;
    text-transform: uppercase;
}

/* Footer */

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__item--first {
    width: 40%;
}

.footer__title {
    font-weight: bold;
    font-size: 46px;
    color: #999;
    margin: 50px 0 30px;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    margin-bottom: 45px;
}

.footer__followers {
    font-size: 15px;
}

.footer__social {
    margin-bottom: 40px;
}

.footer__social .fab {
    color: #95e1d3;
    font-size: 20px;
    margin-left: 15px;
    transition: color .1s linear;
}

.footer__social .fab:hover {
    color: #7fc1b5;
}

.footer__social__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    font-style: italic;
}

.subscribe {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    max-width: 380px;
}

.subscribe__mail {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 15px;
    width: 60%;
    height: 40px;
    line-height: 1.1;
}

.subscribe__mail::placeholder {
    color: #ccc;
}

.subscribe__mail:focus {
    outline: none;
    border-color: #95e1d3;
}

.subscribe__button {
    border: 0;
    background-color: #95e1d3;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 30px;
    height: 40px;
    line-height: 1.1;
    cursor: pointer;
    width: 40%;
    transition: background .1s linear;
}

.subscribe__button:hover {
    background-color: #7fc1b5;
}

.footer__item--second {
    width: 30%;
}

.footer__name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    margin: 100px 0 40px;
}

.footer__stories__item {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.stories__item__img {
    position: absolute;
}

.stories__item__content {
    padding-top: 12px;
}

.stories__item__text {
    padding-left: 140px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #545454;
}

.stories__item__date {
    padding-left: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
    color: #999;
}

.footer__item--third {
    width: 23%;
}

.instagram__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inst__photo {
    display: block;
    border-top: 1px solid #fff;
    width: 33.33333%;
}

.instagram__text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
    color: #999;
    transition: color .1s linear;
}

.instagram__text:hover {
    color: #333;
}

/* Footer under */

.footer__under {
    margin-top: 50px;
    background-color: #e5e5e5;
}

.footer__under__line {
    margin: 0;
    padding: 0;
}

.footer__under__text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0;
    color: #545454;
}